<body>
    <div class="box">
        <form action="/register" method="POST" role="form" enctype="application/x-www-form-urlencoded">
            <legend>Register</legend>
            <label for="email">Email:</label>
            <br>
            <input type="text" id="email" name="email" required="true">
            <br>
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required="true">
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="text" id="password" name="password" required="true">
            <br>
            <button type="submit" class="btn btn-primary" id="loginBtn">Log in</button>
        </form>
    </div>
</body>