<body>

    {{!-- carousel images --}}
    <section class="center">
        <div id="welcome-page-container" class="center">
        
            <h1>Welcome</h1>
            <div id="carousel">
                <h1>image will b here</h1>
            </div>
        </div>
    </section>
    
</body>